.list-items{
    min-height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.list-items .items{
    width: 80%;
    height: auto;

}
 .box-items{
    width: 100%;
    display: flex;
    
}
